main.home-page {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.form-section {
    width: 45%;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 1rem;
}
input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: var(--color-green);
}
.toggle-form {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-decoration: underline;
}
@media (max-width: 800px) {
    .form-container {
        flex-direction: column;
    }
    .form-section {
        width: 100%;
    }
}
@media (max-width: calc(600px + 4rem)) {
    main.home-page {
        width: calc(100% - 4rem);
    }
}