nav {
    background-color: var(--color-light-blue);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: var(--color-text);
    text-decoration: none;
}
.fa-bars {
    display: none;
}
@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
    .account-info li:nth-child(1) {
        display: none;
    }
    .fa-bars {
        display: block;
        margin: 0.25rem 1rem;
    }
}