.ticker {
    background-color: var(--color-light-blue);
    color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.ticker p {
    display: inline-block;
    padding-left: 100%;
    animation: ticker 30s linear infinite;
}
@keyframes ticker {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}